<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faena"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="30"/>

    <application
        android:label="FaenaJala"
        android:icon="@mipmap/ic_launcher"
        android:debuggable="true"
        android:hasCode="false"
        android:usesCleartextTraffic="true">

        <activity android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data android:name="android.app.lib_name" android:value="Faena"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
